In [1]:
# 1. Write a program to reverse a string.


inp_string = input("Enter input string to reverse the string ")
reverse_string = inp_string[::-1]
print("Reverse of Input string is : ",reverse_string)

Enter input string to reverse the string pwskills
Reverse of Input string is :  sllikswp

In [2]:
# 2. Check if a string is a palindrome.

string = input("Enter string to check whether string is pallindrome or not ")
if string[::-1]==string[::]:
    print("Entered string is pallindrome")
else:
    print("Entered string is not pallindrome")

Enter string to check whether string is pallindrome or not malayalam
Entered string is pallindrome

In [3]:
# 3. Convert a string to uppercase.

string1= input("Enter string to convert into uppercase ")
print(string1.upper())

Enter string to convert into uppercase pwskills
PWSKILLS

In [4]:
# 4. Convert a string to lowercase.

string2 = input("Enter string to convert into lowercase ")
print(string2.lower())

Enter string to convert into lowercase PWSKILLS
pwskills

In [5]:
# 5. Count the number of vowels in a string.

string3 = input("Enter string to count number of vowels in the string ")
vowels_count = string3.count('a')+string3.count('e')+string3.count('i')+string3.count('o')+string3.count('u')
print("Number of vowels in the input string are : " , vowels_count)

Enter string to count number of vowels in the string pwskills data science pro
Number of vowels in the input string are :  7

In [6]:
# 6. Count the number of consonants in a string.

string4 = input("Enter string to count number of consonants in a string : ")
consonants_count = string4.count('b')+string4.count('c')+string4.count('d')+string4.count('f')+string4.count('g')+string4.count('h')+string4.count('j')+string4.count('k')+string4.count('l')+string4.count('m')+string4.count('n')+string4.count('r')+string4.count('p')+string4.count('q')+string4.count('s')+string4.count('t')+string4.count('v')+string4.count('w')+string4.count('x')+string4.count('y')+string4.count('z')
print("Numer of consonants in input string is : ",consonants_count)

Enter string to count number of consonants in a string : pwskills data science pro
Numer of consonants in input string is :  15

In [7]:
# 7. Remove all whitespaces from a string.

string5 = input("Enter the string to remove all whitespaces ")
remove_string = string5.replace(" ","")
print("String after removing the whitespaces is ",remove_string)

Enter the string to remove all whitespaces pwskills data science pro batch
String after removing the whitespaces is  pwskillsdatascienceprobatch

In [8]:
# 8. Find the length of a string without using the `len()` function.

string6 = input("Enter string to find the length of the string ")
count = 0
for i in string6:
    count+= 1
print(count)

Enter string to find the length of the string pwskillsdatascience
19

In [9]:
# 9. Check if a string contains a specific word.

char = input("Enter a string to check the specific word in the string: ")
word = input("Enter a word to find in the string: ")
if word in char :
    print(word,"is present in the above string")
else:
    print(word,"is not present in the above string")

Enter a string to check the specific word in the string: pwskills data science
Enter a word to find in the string: science
science is present in the above string

In [10]:
# 10. Replace a word in a string with another word.

char1 = input("Enter a string :")
word = input("Enter a word to replace from above string ")
replacement_word = input("Enter a word to replace with ")

new_string= char1.replace(word,replacement_word)

print("Original string is : ", char1)
print("Repalced string or new string is : ", new_string)

Enter a string :pwskills data science pro
Enter a word to replace from above string pro
Enter a word to replace with masters
Original string is :  pwskills data science pro
Repalced string or new string is :  pwskills data science masters

In [11]:
# 11. Count the occurrences of a word in a string.

char2 = input("Enter the string to count the occurrences of the word : ")
word = input("Enter the word to count from the above string")
print("Number of occurence of the word in above string is : ",char2.count(word))

Enter the string to count the occurrences of the word : pwskills data science pro pro pro
Enter the word to count from the above stringpro
Number of occurence of the word in above string is :  3

In [12]:
# 12. Find the first occurrence of a word in a string.

def first_occurrence(word,text):
    x = text.find(word)
    return x

text= "pwskills data science pro batch.pwskills data sudhanshu sir."
word= "data"
result=first_occurrence(word,text)
print("first occurrence of a word in a string: ",result)

first occurrence of a word in a string:  9

In [13]:
# 13. Find the last occurrence of a word in a string.

def last_occurrence(word,text):
    x=text.rfind(word)
    return x
text= "pwskills data science pro batch.pwskills data sudhanshu sir."
word= "data"
result=last_occurrence(word,text)
print("last occurrence of a word in a string: ",result)

last occurrence of a word in a string:  41

In [14]:
# 14. Split a string into a list of words.

def split_string(sentence):
    x = sentence.split()
    return x

sentence = "pwskills data science batch 2024"
result = split_string(sentence)
print("splitted string into a list of words: ", result)

splitted string into a list of words:  ['pwskills', 'data', 'science', 'batch', '2024']

In [15]:
# 15. Join a list of words into a string.

def join_alist(list_words):
    join_list = ' '.join(list_words)
    return join_list

list_words =['pwskills', 'data', 'science', 'batch', '2024']
result =join_alist(list_words)
print("The join list of words into a string is: ",result)

The join list of words into a string is:  pwskills data science batch 2024

In [16]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

def join_alist(list_words):
    join_list = '_'.join(list_words)
    return join_list

list_words =['pwskills', 'data', 'science', 'batch', '2024']
result =join_alist(list_words)
print("The join list of words into a string is: ",result)

The join list of words into a string is:  pwskills_data_science_batch_2024

In [17]:
# 17. Check if a string starts with a specific word or phrase.

def starts_with(string,word):
    return string.startswith(word)


string = "pwskills data science pro"
word = "pwskills"
if starts_with(string,word):
    print("it starts with a specific word or phrase")
else:
    print("it doesn't start with specific word or phrase")

it starts with a specific word or phrase

In [18]:
# 18. Check if a string ends with a specific word or phrase.

def ends_with(string,word):
    return string.endswith(word)


string = "pwskills data science pro"
word = "pro"
if ends_with(string,word):
    print("it ends with a specific word or phrase")
else:
    print("it doesn't ends with specific word or phrase")

it ends with a specific word or phrase

In [19]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

def string_to_title(string):
    
    x = string.title()
    return x

string = "hello world"
result = string_to_title(string)
print("string to title case is : ",result)

string to title case is :  Hello World

In [20]:
# 20. Find the longest word in a string.

def find_longest_word(string):
    
    words = string.split()
    
    longest_word = ""
    max_length = 0
    

    for word in words:
    
        word = word.strip(",.?!;:")
    
        if len(word) > max_length:
            longest_word = word
            max_length = len(word)
    
    return longest_word
string = "pwskills data science pro batch year 2024"
longest_word = find_longest_word(string)
print("Longest word:", longest_word)

Longest word: pwskills

In [21]:
# 21. Find the shortest word in a string.
def find_shortest_word(string):
    
    words = string.split()
    
    
    shortest_word = None
    
    
    for word in words:
        
        if shortest_word is None or len(word) < len(shortest_word):
            shortest_word = word
    
    return shortest_word

# Example usage:
string = "pwskills data science pro batch"
shortest_word = find_shortest_word(string)
print("Shortest word:", shortest_word)

Shortest word: pro

In [22]:
# 22. Reverse the order of words in a string.

def reverse_order(string):
    x = string.split()
    reverse = x[::-1]
    join_list = " ".join(reverse)
    return join_list

string = "pwskills data science pro batch 2024"
result = reverse_order(string)
print("Reverse order of words in a string: ",result)

Reverse order of words in a string:  2024 batch pro science data pwskills

In [23]:
# 23. Check if a string is alphanumeric.

def is_alphanumeric(string):
    x = string.isalnum()
    return x

string = "Pwskills2024"
if is_alphanumeric(string):
    print("yes it is alphanumeric")
else:
    print("it is not alphanumeric")

yes it is alphanumeric

In [24]:
# 24. Extract all digits from a string.

def extract_digits(string):
    digits = ''
    for char in string:
        if char.isdigit():
            digits += char
    return digits

string = "pwskills2024"
extracted_digits = extract_digits(string)
print("Extracted digits:", extracted_digits)

Extracted digits: 2024

In [25]:
# 25. Extract all alphabets from a string.

import re

def extract_alphabets(string):
    x = re.findall("[a-zA-Z]+",string)
    join_list = "".join(x)
    return join_list

string= "pwskills data science pro ba2024tch"
result= extract_alphabets(string)
print("extract alphabets from string: ", result)

extract alphabets from string:  pwskillsdatascienceprobatch

In [26]:
# 26. Count the number of uppercase letters in a string.

def upper_case(string):
    count = 0
    for char in string:
        if char.isupper():
            count +=1
    return count

string= "PWSKILLS data SCIENCE 2024"
result = upper_case(string)
print("Count of the uppercase in the above string: ", result)

Count of the uppercase in the above string:  15

In [27]:
# 27. Count the number of lowercase letters in a string.

def lower_case(string):
    count = 0
    for char in string:
        if char.islower():
            count +=1
    return count

string= "PWSKILLS data SCIENCE pro batch 2024"
result = lower_case(string)
print("Count of the lowercase in the above string: ", result)

Count of the lowercase in the above string:  12

In [28]:
# 28. Swap the case of each character in a string.

def swap_string(string):
    x = string.swapcase()
    return x

string = "PwSkILLs DaTa ScienCE PRO"
result = swap_string(string)
print("Swaped case of all character in string: ", result)

Swaped case of all character in string:  pWsKillS dAtA sCIENce pro

In [29]:
# 29. Remove a specific word from a string.

def strip_word(string, word):
    words = string.split()
    updated_words = [w for w in words if w != word]
    updated_string = " ".join(updated_words)
    return updated_string

string = "pwskills data science pro batch 2024"
word = "batch"
result = strip_word(string, word)
print("Removed specific word from a string is:", result)

Removed specific word from a string is: pwskills data science pro 2024

In [30]:
# 30. Check if a string is a valid email address.
import re
def valid_email(email):
    patter = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    if re.match(patter,email):
        return True
    else:
        return False
    
email = "example123@gmail.com"
if valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

In [31]:
# 31. Extract the username from an email address string.

def extract_username(email):
    x = email.split('@')
    y = x[0]
    return y

email = "username123@gmail.com"
result = extract_username(email)
print("Extracted username from email address string: ", result)

Extracted username from email address string:  username123

In [32]:
# 32. Extract the domain name from an email address string.

def domain_name(email):
    x = email.split('@')
    y = x[1]
    return y

email = "username123@gmail.com"
result = domain_name(email)
print("Extracted domain from email address string: ", result)

Extracted domain from email address string:  gmail.com

In [33]:
# 33. Replace multiple spaces in a string with a single space.

def multiple_space(string):
    x = " ".join(string.split())
    return x

string = "pwskills   data    science    pro   batch  2024"
result = multiple_space(string)
print("Replaced string with multiple spaces: ",result)

Replaced string with multiple spaces:  pwskills data science pro batch 2024

In [34]:
# 34. Check if a string is a valid URL.
import validators
def valid_url(string):
    return validators.url(string)

string ="https://stackoverflow.com/questions/7160737/how-to-validate-a-url-in-python-malformed-or-not"
if valid_url(string):
    print("valid url")
else:
    print("invalid url")

valid url

In [35]:
# 35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse

def extract_protocal(url):
    x = urlparse(url)
    return x.scheme

url = "https://stackoverflow.com/questions/9626535/get-protocol-host-name-from-url"
result = extract_protocal(url)
print("Extracted protocol from the url is : ", result)

Extracted protocol from the url is :  https

In [36]:
# 36. Find the frequency of each character in a string.

def char_frequency(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

string = "pwskills data science pro batch skills skills 2024"
result = char_frequency(string)
print("Frequency of each character in the string:")
for char, freq in result.items():
    print(f"{char}: {freq}")

Frequency of each character in the string:
p: 2
w: 1
s: 7
k: 3
i: 4
l: 6
 : 7
d: 1
a: 3
t: 2
c: 3
e: 2
n: 1
r: 1
o: 1
b: 1
h: 1
2: 2
0: 1
4: 1

In [37]:
# 37. Remove all punctuation from a string.


import string

def remove_punctuation(input_string):
    
    translator = str.maketrans('', '', string.punctuation)
    
    
    cleaned_string = input_string.translate(translator)
    
    return cleaned_string

string_to_clean = "pwskills, data'science'!,program!"
result = remove_punctuation(string_to_clean)
print("Original string:", string_to_clean)
print("Punctuation removed string:", result)

Original string: pwskills, data'science'!,program!
Punctuation removed string: pwskills datascienceprogram

In [38]:
# 38. Check if a string contains only digits.

def contain_digit(string):
    x = string.isdigit()
    return x
string = "123456"
result = contain_digit(string)
print("string contains only digits: ", result)

string contains only digits:  True

In [39]:
# 39. Check if a string contains only alphabets.

def contain_alpha(string):
    x = string.isalpha()
    return x
string = "pwskillsdatascience"
result = contain_alpha(string)
print("string contains only digits: ", result)

string contains only digits:  True

In [40]:
# 40. Convert a string to a list of characters.

def list_char(string):
    x = list(string)
    return x

string = "pwskills data ,science! ,program"
result = list_char(string)
print("Original string:",string)
print("Converted into list: ",result)

Original string: pwskills data ,science! ,program
Converted into list:  ['p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'd', 'a', 't', 'a', ' ', ',', 's', 'c', 'i', 'e', 'n', 'c', 'e', '!', ' ', ',', 'p', 'r', 'o', 'g', 'r', 'a', 'm']

In [41]:
# 41. Check if two strings are anagrams.

def are_anagrams(str1, str2):

    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"

result = are_anagrams(string1,string2)
print("Two give strings are anagrams: ",result)

Two give strings are anagrams:  True

In [42]:
def caesar_cipher_encrypt(plaintext, shift):
    ciphertext = ""
    for char in plaintext:
        
        if char.isalpha():
            
            shifted_char = chr((ord(char.lower()) - ord('a') + shift) % 26 + ord('a'))
        
            if char.isupper():
                shifted_char = shifted_char.upper()
            
            ciphertext += shifted_char
        else:
            
            ciphertext += char
    return ciphertext

# Example usage:
plaintext = "pwskills data science"
shift = 3
ciphertext = caesar_cipher_encrypt(plaintext, shift)
print("Plaintext:", plaintext)
print("Ciphertext:", ciphertext)

Plaintext: pwskills data science
Ciphertext: szvnloov gdwd vflhqfh

In [43]:
# 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decrypt(ciphertext, shift):
    plaintext = ""
    for char in ciphertext:
      
        if char.isalpha():
        
            original_char = chr((ord(char.lower()) - ord('a') - shift) % 26 + ord('a'))
            
            if char.isupper():
                original_char = original_char.upper()
           
            plaintext += original_char
        else:
          
            plaintext += char
    return plaintext


ciphertext = " szvnloov gdwd vflhqfh"
shift = 3
plaintext = caesar_cipher_decrypt(ciphertext, shift)
print("Ciphertext:", ciphertext)
print("Decrypted plaintext:", plaintext)

Ciphertext:  szvnloov gdwd vflhqfh
Decrypted plaintext:  pwskills data science

In [44]:
# 44. Find the most frequent word in a string.

def word_frequency(string):
    frequency = {}
    words = string.split()
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency

string = "pwskills data science pro batch skills skills 2024"
result = word_frequency(string)
print("Frequency of each word in the string:")
for word, freq in result.items():
     print(f"{word}: {freq}")

Frequency of each word in the string:
pwskills: 1
data: 1
science: 1
pro: 1
batch: 1
skills: 2
2024: 1

In [45]:
# 45. Find all unique words in a string.

def unique_words(string):
    words = string.split()
    unique_word_set = set(words)
    return unique_word_set


string = "hello world hello world example"
unique_words_set = unique_words(string)
print("Unique words in the string:", unique_words_set)

Unique words in the string: {'example', 'world', 'hello'}

In [46]:
# 46. Count the number of syllables in a string.
import re

def count_syllables(string):
    
    vowel_groups = re.findall(r'[aeiouy]+', string, re.IGNORECASE)

    return len(vowel_groups)


string1 = "pwskills"
string2  = "datascience"

syllables1 = count_syllables(string1)
syllables2 = count_syllables(string2)


# Print the results
print(f"'{string1}' has {syllables1} syllables.")
print(f"'{string2}' has {syllables2} syllables.")

'pwskills' has 1 syllables.
'datascience' has 4 syllables.

In [47]:
# 47. Check if a string contains any special characters.

def contains_special_characters(string):

    special_characters = set("!@#$%^&*()-_+=[]{}|;:,.<>?~")
    for char in string:
      
        if char in special_characters:
            return True
    
 
    return False


string_with_special_characters = "Hello! How are you?"
if contains_special_characters(string_with_special_characters):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [48]:
# 48. Remove the nth word from a string.
def remove_nth_word(string, n):
    
    words = string.split()
    
    
    if 0 <= n < len(words):
        
        del words[n]
        
        result = ' '.join(words)
        return result
    else:
        return "Invalid index. The string does not have a word at index {}.".format(n)

string = "pw skills data science program."
n = 2
result = remove_nth_word(string, n)
print("String after removing the {}th word:".format(n), result)

String after removing the 2th word: pw skills science program.

In [49]:
# 49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(string, word, n):
   
    words = string.split()
    
  
    if 0 <= n <= len(words):
    
        words.insert(n, word)
       
        result = ' '.join(words)
        return result
    else:
        return "Invalid index. The string does not have a position at index {}.".format(n)


string = "pwskills data program"
word_to_insert = "science"
position_to_insert = 2
result = insert_word_at_nth_position(string, word_to_insert, position_to_insert)
print("String after inserting '{}' at position {}:".format(word_to_insert, position_to_insert), result)

String after inserting 'science' at position 2: pwskills data science program

In [50]:
# 50. Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
       
        values = line.split(',')
        
       
        result.append(values)
    
    return result

# Example usage:
csv_string = "1,pwskills,2024\n2,sudhanshu sir,krishnaik\n3,data,science"
result = csv_string_to_list(csv_string)
print("CSV string converted to a list of lists:")
for row in result:
    print(row)

CSV string converted to a list of lists:
['1', 'pwskills', '2024']
['2', 'sudhanshu sir', 'krishnaik']
['3', 'data', 'science']

In [51]:
# 1. Create a list with integers from 1 to 10.
integer = [i for i in range(1,10)]
print(integer)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
# 2. Find the length of a list without using the `len()` function.

def len_list(list2):
    count = 0
    for i in list2:
        count += 1
    return count

list2=["pwskills",1,2,3,4,5,6,7]
result = len_list(list2)
print("length of given list is: ", result)

length of given list is:  8

In [53]:
# 3. Append an element to the end of a list.
def append_element(list3, element):
    list3.append(element)
    return list3

list3 = ["pwskills", 1, 2, 3, 4, 5, 6, 7]
element = "datascience"
result = append_element(list3, element)
print("List after appending element to the end:", result)

List after appending element to the end: ['pwskills', 1, 2, 3, 4, 5, 6, 7, 'datascience']

In [54]:
# 4. Insert an element at a specific index in a list.

def insert_element(element,index,list4):
    list4.insert(index,element)
    return list4
list4 = ['pwskills', 1, 2, 3, 4, 5, 6, 7, 'datascience']
index = 4
element="pro batch"
result = insert_element(element,index,list4)
print("Inserted element at a specific index list is: ",result)

Inserted element at a specific index list is:  ['pwskills', 1, 2, 3, 'pro batch', 4, 5, 6, 7, 'datascience']

In [55]:
# 5. Remove an element from a list by its value.

def remove_element(element,list5):
    list5.remove(element)
    return list5

list5 = ['pwskills', 1, 2, 3, 'pro batch', 4, 5, 6, 7, 'datascience']
element = "pro batch"
result = remove_element(element,list5)
print("Removed element from a list by its value: ",result)

Removed element from a list by its value:  ['pwskills', 1, 2, 3, 4, 5, 6, 7, 'datascience']

In [56]:
# 6. Remove an element from a list by its index.

def remove_element(index, list6):
    if index < len(list6):
        return list6[:index] + list6[index+1:]
    else:
        return list6

list6 = ['pwskills', 1, 2, 3, 4, 5, 6, 7, 'datascience']
index = 8
result = remove_element(index, list6)
print("List after removing element at given index: ", result)

List after removing element at given index:  ['pwskills', 1, 2, 3, 4, 5, 6, 7]

In [57]:
# 7. Check if an element exists in a list.

def exist_element(element,list7):
    if element in list7:
        print("Element is present in the list")
    else:
        print("Element is not present in the list")
        
list7=['pwskills', 1, 2, 3, 4, 5, 6, 7]
element = 2
result=exist_element(element,list7)

Element is present in the list

In [58]:
# 8. Find the index of the first occurrence of an element in a list.

my_list = ["pwskills",10, 20, 30, 40, 50]
element_to_find = 30

index = my_list.index(element_to_find)
print("Index of", element_to_find, ":", index)

Index of 30 : 3

In [59]:
# 9. Count the occurrences of an element in a list.

my_list = ["pwskills",10, 20, 30, 40, 50, 30, 30]

element_to_count = 30
count = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [60]:
# 10. Reverse the order of elements in a list.

my_list = ["pwskills",10, 20, 30, 40, 50, 30, 30]
my_list.reverse()
print("Reverse order list: ",my_list)

Reverse order list:  [30, 30, 50, 40, 30, 20, 10, 'pwskills']

In [61]:
# 11. Sort a list in ascending order.

my_list = [20, 1000, 100, 10, 50, 130, 5]
my_list.sort()
print("Sorted list in ascending order: ",my_list)

Sorted list in ascending order:  [5, 10, 20, 50, 100, 130, 1000]

In [62]:
# 12. Sort a list in descending order.

my_list = [20, 1000, 100, 10, 50, 130, 5]
my_list.sort(reverse=True)
print("Sorted list in ascending order: ",my_list)

Sorted list in ascending order:  [1000, 130, 100, 50, 20, 10, 5]

In [63]:
# 13. Create a list of even numbers from 1 to 20.

my_list = [x for x in range(1,21) if x%2==0]

print("List of even numbers from 1 to 20: ",my_list)

List of even numbers from 1 to 20:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
# 14. Create a list of odd numbers from 1 to 20.

my_list = [x for x in range(1,21) if x%2!=0]

print("List of odd numbers from 1 to 20: ",my_list)

List of odd numbers from 1 to 20:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [65]:
# 15. Find the sum of all elements in a list.

my_list =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
x = sum(my_list)
print("Sum of all elements in a list: ", x)

Sum of all elements in a list:  100

In [66]:
# 16. Find the maximum value in a list.

my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
x = max(my_list)
print("Maximum value in a list", x)

Maximum value in a list 19

In [67]:
# 17. Find the minimum value in a list.

my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
x = min(my_list)
print("Minimum value in a list", x)

Minimum value in a list 1

In [68]:
# 18. Create a list of squares of numbers from 1 to 10.

my_list = [x**2 for x in range(1,11) ]

print("List of squares of numbers from 1 to 10: ",my_list)

List of squares of numbers from 1 to 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
# 19. Create a list of random numbers.

import random

my_list = [random.randint(1,100) for i in range(10)]

print("Random integers from 1 to 100: ",my_list)

Random integers from 1 to 100:  [38, 35, 16, 80, 99, 59, 59, 71, 56, 29]

In [70]:
# 20. Remove duplicates from a list.

my_list = [1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
removed_list = list(set(my_list))
print("Removed duplicate element from a list: ",removed_list)

Removed duplicate element from a list:  [1, 2, 3, 4, 5]

In [71]:
# 21. Find the common elements between two lists.

list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [1, 2, 3, 4, 5]
new_element = set(list1).intersection(set(list2))
print("Common elements between two list :", list(new_element))

Common elements between two list : [1, 2, 3, 4, 5]

In [72]:
# 22. Find the difference between two lists.

list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [1, 2, 3, 4, 5]
list_difference = set(list1).difference(set(list2))
print("Difference between two lists :",list_difference)

Difference between two lists : {6, 7, 8, 9, 10}

In [73]:
# 23. Merge two lists.

list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,"python"]
list2 = [1, 2, 3, 4, 5,"datascience"]
list1.extend(list2)
merged_list = list1
print("Merged two list: ",merged_list)

Merged two list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'python', 1, 2, 3, 4, 5, 'datascience']

In [74]:
# 24. Multiply all elements in a list by 2.

list2 = [1, 2, 3, 4, 5,]
new_list = [i*2 for i in list2 ]
print("Multipliation of all elements in a list with 2: ",new_list)

Multipliation of all elements in a list with 2:  [2, 4, 6, 8, 10]

In [75]:
# 25. Filter out all even numbers from a list.

list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = [i for i in list1 if i%2==0]
print("Filtered even numbers from the list: ",new_list)

Filtered even numbers from the list:  [2, 4, 6, 8, 10]

In [76]:
# 26. Convert a list of strings to a list of integers.

list1= ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
new_list = [int(x) for x in list1]
print("Converted list of strings to a list of integers :",new_list)

Converted list of strings to a list of integers : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
# 27. Convert a list of integers to a list of strings.

list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = [str(x) for x in list1]
print("Converted list of integers to a list of strings :",new_list)

Converted list of integers to a list of strings : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [78]:
# 28. Flatten a nested list.

my_list = [[1], [2, 3], [4, 5, 6, 7]]

flt_list= []
for sub_list in my_list:
    for num in sub_list:
        flt_list.append(num)
        
        
print(flt_list)

[1, 2, 3, 4, 5, 6, 7]

In [79]:
# 29. Create a list of the first 10 Fibonacci numbers.

a, b = 0, 1
fibonacci_list = [a, b]

for _ in range(8):  
    a, b = b, a + b
    fibonacci_list.append(b)

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [80]:
# 30. Check if a list is sorted.

list1 = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
if list1==sorted(list1):
    print("List is sorted")
else:
    print("List is not sorted")

List is sorted

In [81]:
# 31. Rotate a list to the left by `n` positions.

def rotate_left(lst, n):
    n %= len(lst)
    for _ in range(n):
        lst.append(lst.pop(0))
    return lst


my_list = [1, 2, 3, 4, 5]
rotation_amount = 2
rotated_list = rotate_left(my_list, rotation_amount)
print("Rotaed list to the left by n position: ",rotated_list)

Rotaed list to the left by n position:  [3, 4, 5, 1, 2]

In [82]:
# 32. Rotate a list to the right by `n` positions.

def rotate_right(lst, n):
    n %= len(lst)
    for _ in range(n):
        lst.insert(0, lst.pop())
    return lst


my_list = [1, 2, 3, 4, 5]
rotation_amount = 2
rotated_list = rotate_right(my_list, rotation_amount)
print("Rotaed list to the left by n position: ",rotated_list)

Rotaed list to the left by n position:  [4, 5, 1, 2, 3]

In [83]:
# 33. Create a list of prime numbers up to 50.

def prime_number(num):
    if num<=1:
        return False
    elif num<= 3:
        return True
    elif num% 2==0 or num% 3 == 0:
        return False
    i = 5
    while i*i <= num:
        if num % i == 0 or num % ( i + 2 ) == 0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2,51) if prime_number(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [84]:
# 34. Split a list into chunks of size `n`.

def split_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = list(split_into_chunks(my_list, chunk_size))
print("splited a list into chunks of size n:" ,chunks)

splited a list into chunks of size n: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [85]:
# 35. Find the second largest number in a list.

def second_largest(lst):
    sorted_list = sorted(lst, reverse=True)
    if len(sorted_list) < 2:
        return None  
    return sorted_list[1]


my_list = [10, 5, 8, 20, 15]
second_largest_num = second_largest(my_list)
print("second largest number in the list is: ",second_largest_num)

second largest number in the list is:  15

In [86]:
# 36. Replace every element in a list with its square.

def square_list(element):
    my_list = [x**2 for x in element]
    return my_list

element = [1,2,3,4,5]
result = square_list(element)
print("Replaced every element in a list with its square: ",result)

Replaced every element in a list with its square:  [1, 4, 9, 16, 25]

In [87]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

my_list = ['a', 'b', 'c', 'd']
result_dict = list_to_dict(my_list)
print("Converted list to a dictionary : ",result_dict)

Converted list to a dictionary :  {'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [88]:
# 38. Shuffle the elements of a list randomly.

import random
my_list =[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
random.shuffle(my_list)
print("Randomly shuffled list is:",my_list)

Randomly shuffled list is: [11, 19, 3, 17, 41, 31, 5, 13, 7, 2, 29, 43, 47, 23, 37]

In [89]:
# 39. Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [90]:
# 40. Check if two lists have at least one element in common.
def common_element(list1,list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8, 9]

if common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [91]:
# 41. Remove all elements from a list.

my_list = [1, 2, 3, 4, 5, 6]
my_list.clear()
print("Emplty list: ",my_list)

Emplty list:  []

In [92]:
# 42. Replace negative numbers in a list with 0.


my_list = [100, -70, 230, -125, 301, -250]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [100, 0, 230, 0, 301, 0]

In [93]:
# 43. Convert a string into a list of words.

string = "pwskills data science pro batch"
new_string = string.split()
print("string into a list of words: ",new_string)

string into a list of words:  ['pwskills', 'data', 'science', 'pro', 'batch']

In [94]:
# 44. Convert a list of words into a string.
list_of_words = ['pwskills', 'data', 'science', 'pro', 'batch']
string = " ".join(list_of_words)
print("list of words into a string: ",string)

list of words into a string:  pwskills data science pro batch

In [95]:
# 45. Create a list of the first `n` powers of 2.

n = 6
list_of_twopower = [2 **i for i in range(n)]
print("list of the first n powers of 2: ",list_of_twopower)

list of the first n powers of 2:  [1, 2, 4, 8, 16, 32]

In [96]:
# 46. Find the longest string in a list of strings.
def longest_string(lst):
    if not lst:
        return None
    max_length = 0
    for string in lst:
        if len(string)> max_length:
            max_length = len(string)
            longest_str = string
    return longest_str

my_list = ["pwskills","datascience","pro","batch","2024"]
longest = longest_string(my_list)
print("Longest string:", longest)

Longest string: datascience

In [97]:
# 47. Find the shortest string in a list of strings.

def shortest_string(lst):
    if not lst:
        return None
    min_length = float('inf')  
    shortest_str = ""          
    for string in lst:
        if len(string) < min_length:
            min_length = len(string)
            shortest_str = string
    return shortest_str

my_list = ["pwskills", "datascience", "pro", "batch", "2024"]
shortest = shortest_string(my_list)
print("Shortest string:", shortest)

Shortest string: pro

In [98]:
# 48. Create a list of the first `n` triangular numbers.

def triangular_number(n):
    return (n * (n + 1)) // 2

def first_n_triangular_numbers(n):
    return [triangular_number(i) for i in range(1, n+1)]

n = 5
triangular_numbers = first_n_triangular_numbers(n)
print("list of triangular elements: ",triangular_numbers)

list of triangular elements:  [1, 3, 6, 10, 15]

In [99]:
# 49. Check if a list contains another list as a subsequence.

def is_subsequence(lst, sub_lst):
    return all(item in lst for item in sub_lst)

main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence = [2, 4, 6]
print("Contains subsequent list: ",is_subsequence(main_list, subsequence))  

main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence = [4, 3, 6]
print("Contains subsequent list: ",is_subsequence(main_list, subsequence))

Contains subsequent list:  True
Contains subsequent list:  True

In [100]:
# 50. Swap two elements in a list by their indices.

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
swap = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = swap
print("swapped two elements in list of their indecies: ",my_list)

swapped two elements in list of their indecies:  [1, 4, 3, 2, 5]

In [101]:
# 1. Create a tuple with integers from 1 to 5.
tuples = (1,2,3,4,5)
print("list of tuples with integers from 1 to 5 :", tuples)

list of tuples with integers from 1 to 5 : (1, 2, 3, 4, 5)

In [102]:
# 2. Access the third element of a tuple.

tuples = (1,2,3,4,5)
access = tuples[2]
print("Third element of a tuple : ",access)

Third element of a tuple :  3

In [103]:
# 3. Find the length of a tuple without using the `len()` function.

def len_tuple(tuples):
    count = 0
    for i in tuples:
        count+=1
    return count

tuples = (1,2,3,4,5)
print("Length of a tuple without using the len() function :",len_tuple(tuples))

Length of a tuple without using the len() function : 5

In [104]:
# 4. Count the occurrences of an element in a tuple.

my_tuple = (11,22,33,44,33,44,55,33)
count_element = 33
count =0
for i in my_tuple:
    if i == count_element:
        count +=1
    
print("occurrence of element in a tuple: ",count)

occurrence of element in a tuple:  3

In [105]:
# 5. Find the index of the first occurrence of an element in a tuple
my_tuple = (11,22,33,44,33,44,55,33)
element = 33
index = my_tuple.index(element)
print("Index of the first occurrece of an element in a tupe:",index)

Index of the first occurrece of an element in a tupe: 2

In [106]:
# 6. Check if an element exists in a tuple.
my_tuple = (11,22,33,44,33,44,55,33)
element = 44
if element in my_tuple:
    print("Element exists in a tuple")
else:
    print("Element Doesn't exist in a tuple")

Element exists in a tuple

In [107]:
# 7. Convert a tuple to a list.

my_tuple = (11,22,33,44,33,44,55,33)
tuple_to_list = list(my_tuple)
print("Converted tuple to a list: ",tuple_to_list)

Converted tuple to a list:  [11, 22, 33, 44, 33, 44, 55, 33]

In [108]:
# 8. Convert a list to a tuple.
my_list = [11, 22, 33, 44, 33, 44, 55, 33]
list_to_tuple = tuple(my_list)
print("Converted list to a tuple: ",list_to_tuple)

Converted list to a tuple:  (11, 22, 33, 44, 33, 44, 55, 33)

In [109]:
# 9. Unpack the elements of a tuple into variables.

my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("Unpacked variables:", a, b, c)

print("a:",a)
print("b:",b)
print("c:",c)

Unpacked variables: 1 2 3
a: 1
b: 2
c: 3

In [110]:
# 10. Create a tuple of even numbers from 1 to 10.

tuple_of_even_numbers = tuple(i for i in range(2, 11, 2))
print("Tuple of even numbers from 1 to 10:", tuple_of_even_numbers)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

In [111]:
# 11. Create a tuple of odd numbers from 1 to 10.

tuple_of_odd_numbers = tuple(i for i in range(1, 10, 2))
print("Tuple of odd numbers from 1 to 10:", tuple_of_odd_numbers)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

In [112]:
# 12. Concatenate two tuples.

tuples1 =(2, 4, 6, 8, 10)
tuples2 =(1, 3, 5, 7, 9)

concatinate = tuples1 + tuples2
print("Conatination of two tuples :",concatinate)

Conatination of two tuples : (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [113]:
# 13. Repeat a tuple three times.

original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print("Repeated tuple three times:", repeated_tuple)

Repeated tuple three times: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [114]:
# 14. Check if a tuple is empty.

my_tuple = ()
if my_tuple == ():
    print("Tuple is Empty")
else:
    print("Tuple is Not Empty")

Tuple is Empty

In [115]:
# 15. Create a nested tuple.

my_tuple= ((1, 2, 3, 1, 2, 3, 1, 2, 3),(2, 4, 6, 8, 10, 1, 3, 5, 7, 9),("pwskillsdatascience,probatch"))
print("nested tuple: ",my_tuple)

nested tuple:  ((1, 2, 3, 1, 2, 3, 1, 2, 3), (2, 4, 6, 8, 10, 1, 3, 5, 7, 9), 'pwskillsdatascience,probatch')

In [116]:
# 16. Access the first element of a nested tuple.

my_tuple = ((1, 2, 3, 1, 2, 3, 1, 2, 3),(2, 4, 6, 8, 10, 1, 3, 5, 7, 9),("pwskillsdatascience,probatch"))
print("The first element of a nested tuple: ",my_tuple[0])

The first element of a nested tuple:  (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [117]:
# 17. Create a tuple with a single element.

my_tuple = ("pwskills",)
print("Tuple with single element: ",my_tuple)

Tuple with single element:  ('pwskills',)

In [118]:
# 18. Compare two tuples.

tuple1 = (1,2,5,6)
tuple2 = (1,2,5,7)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [120]:
# 19. Delete a tuple.

my_tuple = (1, 2, 3)

del my_tuple

print("deleted a tuple: ",my_tuple)

NameError: name 'my_tuple' is not defined

In [121]:
# 20. Slice a tuple.

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

sliced_tuple = my_tuple[1:7] 

print("Sliced tuple is: ",sliced_tuple)

Sliced tuple is:  (2, 3, 4, 5, 6, 7)

In [122]:
# 21. Find the maximum value in a tuple.

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

max_value = max(my_tuple)

print("maximum value in a tuple: ",max_value)

maximum value in a tuple:  13

In [123]:
# 22. Find the minimum value in a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

min_value = min(my_tuple)

print("minimum value in a tuple: ",min_value)

minimum value in a tuple:  1

In [124]:
# 23. Convert a string to a tuple of characters.

string = "pwskills data science batch 2024"
tuple_of_character = tuple(string)
print("Converted string to tuple to character: ", tuple_of_character)

Converted string to tuple to character:  ('p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'b', 'a', 't', 'c', 'h', ' ', '2', '0', '2', '4')

In [125]:
# 24. Convert a tuple of characters to a string.
tuples  =  ('p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'b', 'a', 't', 'c', 'h', ' ', '2', '0', '2', '4')


string_of_character = "".join(tuples)
print("Converted tuple to string to character: ", string_of_character)

Converted tuple to string to character:  pwskills data science batch 2024

In [126]:
# 25. Create a tuple from multiple data types.

my_tuple = ("hello",4.15,101,True)
print("Tuple of multiple data type : ",my_tuple)

Tuple of multiple data type :  ('hello', 4.15, 101, True)

In [127]:
# 26. Check if two tuples are identical.

tuple1 = (1,2,5,6)
tuple2 = (1,2,5,6)

if tuple1==tuple2:
    print("Two tuples are identical")
else:
    print("Two tuples are Not identical")

Two tuples are identical

In [128]:
# 27. Sort the elements of a tuple.

my_tuple = (1,11,13,6,7,5,2,21,34,25,87,34,98,65)
list_tuple = list(sorted(my_tuple))
sorted_tuple = tuple(list_tuple)
print("Sorted elements of a tuple: ",sorted_tuple)

Sorted elements of a tuple:  (1, 2, 5, 6, 7, 11, 13, 21, 25, 34, 34, 65, 87, 98)

In [129]:
# 28. Convert a tuple of integers to a tuple of strings.

my_tuple = (1,11,13,6,7,5,2,21,34,25,87,34,98,65)
converted_tuple = tuple(str(i) for i in my_tuple)
print("Converted a tuple of integers to a tuple of strings: ",converted_tuple)

Converted a tuple of integers to a tuple of strings:  ('1', '11', '13', '6', '7', '5', '2', '21', '34', '25', '87', '34', '98', '65')

In [130]:
# 29. Convert a tuple of strings to a tuple of integers.

my_tuple = ('1', '11', '13', '6', '7', '5', '2', '21', '34', '25', '87', '34', '98', '65')
converted_tuple = tuple(int(i) for i in my_tuple)
print("Converted a tuple of strings to a tuple of integers: ",converted_tuple)

Converted a tuple of strings to a tuple of integers:  (1, 11, 13, 6, 7, 5, 2, 21, 34, 25, 87, 34, 98, 65)

In [131]:
# 30. Merge two tuples.


tuple1 = (1,2,5,6)
tuple2 = (1,2,5,6)

merged_tuple = tuple1 + tuple2
print("The merged two tuples: ",merged_tuple)

The merged two tuples:  (1, 2, 5, 6, 1, 2, 5, 6)

In [132]:
# 31. Flatten a nested tuple.

def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

# Example usage:
nested_tuple = (1, (2, 3), (4, (5, 6), 7), 8)
flattened_tuple = flatten_tuple(nested_tuple)
print("flattened tuple: ",flattened_tuple)

flattened tuple:  (1, 2, 3, 4, 5, 6, 7, 8)

In [133]:
# 32. Create a tuple of the first 5 prime numbers.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [134]:
# 33. Check if a tuple is a palindrome.

def is_palindrome(tuples):
    if tuples[::]==tuples[::-1]:
        print("tuple is palindrome")
    else:
        print("tuple is not palindrome")
        
tuples = (1,2,4,2,1)
result = is_palindrome(tuples)

tuple is palindrome

In [135]:
# 34. Create a tuple of squares of numbers from 1 to 5.

def create_square(n):
    square_tuple = tuple(i**2 for i in range(1,n+1))
    return square_tuple


result = create_square(5)
print("Square of numbers from 1 to 5: ",result)

Square of numbers from 1 to 5:  (1, 4, 9, 16, 25)

In [136]:
# 35. Filter out all even numbers from a tuple.

def filter_even(my_tuple):
    even_tuple = tuple(i for i in my_tuple if i%2==0)
    return even_tuple

my_tuple = (1,2,3,5,7,89,56,34,56,78,98)
result = filter_even(my_tuple)
print("Filtered all even numbers from a tuple: ",result)

Filtered all even numbers from a tuple:  (2, 56, 34, 56, 78, 98)

In [137]:
# 36. Multiply all elements in a tuple by 2.
def Multiply_tuple (input_tuple):
    my_tuple = tuple(i*2 for i in input_tuple)
    return my_tuple

input_tuple = (1,2,3,4,5,6,7,8,9)
result = Multiply_tuple(input_tuple)
print("Multiplyed all elements in a tuple by 2: ",result)

Multiplyed all elements in a tuple by 2:  (2, 4, 6, 8, 10, 12, 14, 16, 18)

In [138]:
# 37. Create a tuple of random numbers.
import random

my_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("Tuple of random numbers: ",my_tuple)

Tuple of random numbers:  (10, 66, 14, 65, 40, 17, 83, 41, 19, 87)

In [139]:
# 38. Check if a tuple is sorted.

def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

my_tuple_1 = (1, 2, 3, 4, 5)
my_tuple_2 = (5, 4, 3, 2, 1)

print("Is my_tuple_1 sorted?", is_sorted_tuple(my_tuple_1))
print("Is my_tuple_2 sorted?", is_sorted_tuple(my_tuple_2))

Is my_tuple_1 sorted? True
Is my_tuple_2 sorted? False

In [140]:
# 39. Rotate a tuple to the left by `n` positions.

def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print("Rotated tuple to the left by n position: ",result)

Rotated tuple to the left by n position:  (3, 4, 5, 1, 2)

In [141]:
# 40. Rotate a tuple to the right by `n` positions.

def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print("Rotated a tuple to the right by n position: ",result)

Rotated a tuple to the right by n position:  (4, 5, 1, 2, 3)

In [142]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]  

    for i in range(2, n):
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2] 
        fibonacci_numbers.append(next_fibonacci)  
    
    return tuple(fibonacci_numbers[:n]) 


fibonacci_tuple = generate_fibonacci(5)
print("first five fibonacci numbers are: ",fibonacci_tuple)

first five fibonacci numbers are:  (0, 1, 1, 2, 3)

In [206]:
# 42. Create a tuple from user input.

user_input = input("Enter the input to create tuples separated by spaces: ")

separate_tuple = user_input.split()  # Splitting input by spaces

into_tuple = tuple(separate_tuple)

print("Tuple created from user input:", into_tuple)

Enter the input to create tuples separated by spaces: pwskills data science
Tuple created from user input: ('pwskills', 'data', 'science')

In [147]:
# 43. Swap two elements in a tuple.


original_tuple = (1, 2, 3, 4, 5)

tuple_list = list(original_tuple)

tuple_list[1], tuple_list[3] = tuple_list[3], tuple_list[1]

swapped_tuple = tuple(tuple_list)

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [148]:
# 44. Reverse the elements of a tuple.

original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = original_tuple[::-1]
print("Reversed elements of a tuple: ",reversed_tuple)

Reversed elements of a tuple:  (5, 4, 3, 2, 1)

In [149]:
# 45. Create a tuple of the first `n` powers of 2.

def n_power(n):
    my_tuple = tuple(2** i for i in range(n))
    return my_tuple

result = n_power(5)
print("tuple of the first n powers of 2: ",result)

tuple of the first n powers of 2:  (1, 2, 4, 8, 16)

In [150]:
# 46. Find the longest string in a tuple of strings.

my_tuple = ("pwskills","datascience","pro","2024")

longest_string = max(my_tuple,key= len)
print("Longest string in a tuple of string: ",longest_string)

Longest string in a tuple of string:  datascience

In [151]:
# 47. Find the shortest string in a tuple of strings.

my_tuple = ("pwskills","datascience","pro","2024")

shortest_string = min(my_tuple,key= len)
print("shortest string in a tuple of string: ",shortest_string)

shortest string in a tuple of string:  pro

In [152]:
# 48. Create a tuple of the first `n` triangular numbers.

def triangular_numbers(n):
    triangular_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
    return triangular_tuple

n = 5  
result = triangular_numbers(n)
print("Tuple of the first", n, "triangular numbers:", result)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [153]:
# 49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, sub_tuple):
    sub_len = len(sub_tuple)
    main_len = len(main_tuple)
    
    if sub_len > main_len:
        return False
    
    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i+sub_len] == sub_tuple:
            return True
    
    return False

main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (2, 3, 4)
print("Main Tuple:", main_tuple)
print("Sub Tuple:", sub_tuple)
print("Does Main Tuple contain Sub Tuple?", contains_subsequence(main_tuple, sub_tuple))

Main Tuple: (1, 2, 3, 4, 5)
Sub Tuple: (2, 3, 4)
Does Main Tuple contain Sub Tuple? True

In [154]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

n = 7  
result = alternating_tuple(n)
print("Tuple of alternating 1s and 0s of length :", result)

Tuple of alternating 1s and 0s of length : (1, 0, 1, 0, 1, 0, 1)

In [155]:
# 1. Create a set with integers from 1 to 5.

set_integers = {1,2,3,4,5}
print("Set integers from 1 to 5: ",set_integers)

Set integers from 1 to 5:  {1, 2, 3, 4, 5}

In [156]:
# 2. Add an element to a set.

def add_element(element,original_set):
    original_set.add(element)
    return original_set

original_set = {1,2,3,4,5}
element = 6
print("Added an element to a set: ",add_element(element,original_set))

Added an element to a set:  {1, 2, 3, 4, 5, 6}

In [157]:
# 3. Remove an element from a set.

my_set = {1,2,3,4,5}

element_remove = 3

my_set.remove(element_remove)
 
print("Removed an element from a set: ",my_set)

Removed an element from a set:  {1, 2, 4, 5}

In [158]:
# 4. Check if an element exists in a set.

my_set = {1,2,3,4,5}

input_element_check = int(input("input element to check in a list: "))

if input_element_check in my_set:
    print("element exists in a set")
else:
    print("element doesnt exist in a set")

input element to check in a list: 4
element exists in a set

In [159]:
# 5. Find the length of a set without using the `len()` function.

my_set = {1,2,3,4,5}

count = 0

for i in my_set:
    count+=1

print("Length of a set without using the len() function :",count)

Length of a set without using the len() function : 5

In [160]:
# 6. Clear all elements from a set.

my_set = {1,2,3,4,5}
my_set.clear()
print("Cleared all elements from a set: ",my_set)

Cleared all elements from a set:  set()

In [161]:
# 7. Create a set of even numbers from 1 to 10.

even_set = set()

for i in range(1,11):
    if i%2==0:
        even_set.add(i)
        
print("even numbers from 1 to 10 :",even_set)

even numbers from 1 to 10 : {2, 4, 6, 8, 10}

In [162]:
# 8. Create a set of odd numbers from 1 to 10.

odd_set = set()

for i in range(1,11):
    if i%2 != 0:
        odd_set.add(i)
        
print("odd numbers from 1 to 10 :",odd_set)

odd numbers from 1 to 10 : {1, 3, 5, 7, 9}

In [163]:
# 9. Find the union of two sets.

set1 = {2, 4, 6, 8, 10}
set2 = {1, 3, 5, 7, 9}
union = set1.union(set2)

print("union of two sets is :",union)

union of two sets is : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [164]:
# 10. Find the intersection of two sets.
set1 = {2, 4, 6, 8, 10}
set2 = {1, 3, 5, 7, 9,10}

intersection = set1.intersection(set2)
print("intersection of two sets: ",intersection)

intersection of two sets:  {10}

In [165]:
# 11. Find the difference between two sets.

set1 = {2, 4, 6, 8, 10}
set2 = {1, 3, 5, 7, 9,10}

difference = set1.difference(set2)
print("difference of two sets: ",difference)

difference of two sets:  {8, 2, 4, 6}

In [166]:
# 12. Check if a set is a subset of another set.

set1 = {1,2,3}
set2 = {1,2,3,4,5}

subset = set1.issubset(set2)
print("checking if a subset of another set or not: ",subset)

checking if a subset of another set or not:  True

In [167]:
# 13. Check if a set is a superset of another set.
set1 = {1,2,3,4,5}
set2 = {3,4}

superset = set1.issuperset(set2)
print("checking if a superset of another set or not: ",superset)

checking if a superset of another set or not:  True

In [168]:
# 14. Create a set from a list.
my_list = [1,2,3,4,5]

list_set = set(my_list)
print("set from a list: ",list_set)

set from a list:  {1, 2, 3, 4, 5}

In [169]:
#15. Convert a set to a list.

my_set = {1, 2, 3, 4, 5}
set_list = list(my_set)
print("set to a list: ",set_list)

set to a list:  [1, 2, 3, 4, 5]

In [170]:
# 16. Remove a random element from a set.


my_set = {1, 2, 3, 4, 5}
random_element = my_set.pop()

print("Removed random element:", random_element)
print("Updated set:", my_set)

Removed random element: 1
Updated set: {2, 3, 4, 5}

In [171]:
# 17. Pop an element from a set.

my_set = {1, 2, 3, 4, 5}
random_element = my_set.pop()

print("Removed random element:", random_element)
print("Updated set:", my_set)

Removed random element: 1
Updated set: {2, 3, 4, 5}

In [172]:
# 18. Check if two sets have no elements in common.

set1 = {1,2,3}
set2 = {7,8,9}

check_common = set1.intersection(set2)

if not check_common:
    print("two sets have no elements in common")
else:
    print("two sets have elements in common")

two sets have no elements in common

In [173]:
# 19. Find the symmetric difference between two sets.

set1 = {1,2,3,4,5}
set2 = {4,5,7,8,9}

symmetric_diff = set1 ^ set2
print("symmetric difference: ",symmetric_diff)

symmetric difference:  {1, 2, 3, 7, 8, 9}

In [174]:
# 20. Update a set with elements from another set.

set1 = {1,2,3,4,5}
set2 = {4,5,7,8,9}

set1.update(set2)
print("updated set1 with elements from another set(set2): ",set1)

updated set1 with elements from another set(set2):  {1, 2, 3, 4, 5, 7, 8, 9}

In [175]:
# 21. Create a set of the first 5 prime numbers.

def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

primes = set()
num = 2
while len(primes) < 5:
    if is_prime(num):
        primes.add(num)
    num += 1

print("first five prime numbers are: ",primes)

first five prime numbers are:  {2, 3, 5, 7, 11}

In [176]:
# 22. Check if two sets are identical.

set1 =  {1,2,3,4,5}
set2 = {1,2,3,4,5}

if set1==set2:
    print("Two sets are identical")
else:
    print("Two sets are Not identical")

Two sets are identical

In [177]:
# 23. Create a frozen set.
my_list =  [1,2,3,4,5]

frozen = frozenset(my_list)

print("frozen set: ",frozen)

frozen set:  frozenset({1, 2, 3, 4, 5})

In [178]:
# 24. Check if a set is disjoint with another set.

set1 =  {1,2,3,4,5}
set2 = {6,7,8,9,10}
disjoint = set1.isdisjoint(set2)

print("status of set is disjoint with another set: ",disjoint)

status of set is disjoint with another set:  True

In [179]:
# 25. Create a set of squares of numbers from 1 to 5.

squares_set = set()


for num in range(1, 6):
   
    square = num ** 2
    squares_set.add(square)
print(" set of squares of numbers from 1 to 5: ",squares_set)

 set of squares of numbers from 1 to 5:  {1, 4, 9, 16, 25}

In [180]:
# 26. Filter out all even numbers from a set.

my_set= {1,2,3,4,5,6,7,8,9,10}
even_num = set()
for i in my_set:
    if i%2==0:
        even_num.add(i)
        
print("All even numbers from a set:",even_num)

All even numbers from a set: {2, 4, 6, 8, 10}

In [181]:
# 27. Multiply all elements in a set by 2.

my_set= {1,2,3,4,5,6,7,8,9,10}
multiplied = set()
for i in my_set:
    multiplied_i = i*2
    multiplied.add(multiplied_i)
    
print("Multipules of all elements in a set by 2:",multiplied)

Multipules of all elements in a set by 2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [182]:
# 28. Create a set of random numbers.
import random

# Generate a set of 10 random numbers between 1 and 100
random_set = set(random.sample(range(1, 101), 10))

print("set of random numbers: ",random_set)

set of random numbers:  {35, 40, 9, 76, 80, 19, 21, 90, 60, 95}

In [183]:
# 29. Check if a set is empty.

my_set = {}

if len(my_set)==0:
    print('my set is empty')
else:
    print('my set is not empty')

my set is empty

In [184]:
# 30. Create a nested set (hint: use frozenset).

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [185]:
# 31. Remove an element from a set using the discard method.

my_set= {1, 2, 3, 4, 5}
element_discard = int(input("Input element to discard from a set: "))
my_set.discard(element_discard)
print("Removed an element from a set using the discard method: ",my_set)

Input element to discard from a set: 3
Removed an element from a set using the discard method:  {1, 2, 4, 5}

In [186]:
# 32. Compare two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [188]:
# 33. Create a set from a string.

input_string = input("Enter a string to create a set")

set_string = set(input_string)

print("set from input string: ",set_string)

Enter a string to create a setpwskills
set from input string:  {'l', 'w', 'p', 's', 'i', 'k'}

In [189]:
# 34. Convert a set of strings to a set of integers.

set1 = {'1','2','3','4','5'}
integers = set()
for string in set1:
    integer_value = int(string)
    integers.add(integer_value)
print("converted strings set",integers)

converted strings set {1, 2, 3, 4, 5}

In [190]:
# 35. Convert a set of integers to a set of strings.

set1 = {1, 2, 3, 4, 5}
strings = set()
for integers in set1:
    string_value = str(integers)
    strings.add(string_value)
print("converted integers set",strings)

converted integers set {'1', '5', '3', '4', '2'}

In [191]:
# 36. Create a set from a tuple.

tuples = (1, 2, 3, 4, 5)

tuples_set = set(tuples)

print("set from a tuple: ",tuples_set)

set from a tuple:  {1, 2, 3, 4, 5}

In [192]:
# 37. Convert a set to a tuple.

set1 = {1, 2, 3, 4, 5}

set_tuples = tuple(set1)

print("tuples from a set: ",set_tuples)

tuples from a set:  (1, 2, 3, 4, 5)

In [193]:
# 38. Find the maximum value in a set.

set1 = {1, 2, 3, 4, 5}
max_value = max(set1)
print("maximum value in a set: ",max_value)

maximum value in a set:  5

In [194]:
# 39. Find the minimum value in a set.

set1 ={1,2,3,4,5}
min_value = min(set1)
print("minimum value in a set: ",min_value)

minimum value in a set:  1

In [195]:
# 40. Create a set from user input.

def create_set_with_loop():
    user_input = input("Enter elements separated by spaces: ")
    elements = user_input.split()  
    my_set = set(elements)  
    return my_set


set_created_with_loop = create_set_with_loop()
print("Set created using loop:", set_created_with_loop)

Enter elements separated by spaces: pwskills data science
Set created using loop: {'pwskills', 'data', 'science'}

In [196]:
# 41. Check if the intersection of two sets is empty.

set1 = {1,2,3,4}
set2 = {5,6,7,8}

empty_set = set1.intersection(set2)

if len(empty_set)==0:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [197]:
# 42. Create a set of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Generating a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(5)
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [198]:
# 43. Remove duplicates from a list using sets.

my_list = [1,2,2,3,4,5,6,5,4,6,7,8]

remove_duplicate = set(my_list)

list_elements = list(remove_duplicate)

print("Removed duplicates from a list using sets")

Removed duplicates from a list using sets

In [199]:
# 44. Check if two sets have the same elements, regardless of their count.

def same_elements(set1, set2):
    return set1.symmetric_difference(set2) == set()

set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
set3 = {1, 2, 3}

print("Do set1 and set2 have the same elements? ", same_elements(set1, set2))

print("Do set1 and set3 have the same elements? ", same_elements(set1, set3))

Do set1 and set2 have the same elements?  True
Do set1 and set3 have the same elements?  False

In [200]:
# 45. Create a set of the first `n` powers of 2.

def powers_of_2(n):
    powers_2 = set()

    for i in range(n):
        power = 2 ** i
        powers_2.add(power)
    return powers_2

n = 5
p_sets = powers_of_2(n)
print("Set of the first n powers of 2:", p_sets)

Set of the first n powers of 2: {1, 2, 4, 8, 16}

In [201]:
# 46. Find the common elements between a set and a list.

my_list =[7, 12, 5, 9] 
my_set = {3, 7, 9, 12, 15}
common_element = []
          
list_set = set(my_list)
          
for i in my_set:
    if i in list_set:
        common_element.append(i)
print("Common elements between a set and list:" ,common_element)

Common elements between a set and list: [7, 9, 12]

In [202]:
# 47. Create a set of the first `n` triangular numbers.

def generate_triangular(n):
    triangular_numbers = set() 
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number)  
    return triangular_numbers

n = int(input("Enter the value of n: "))

triangular_set = generate_triangular(n)

print(f"The set of the first triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first triangular numbers is: {1, 3, 6, 10, 15}

In [203]:
# 48. Check if a set contains another set as a subset.

set1 = {1,2,3}
set2 = {1,2,3,4,5}

subset =  set1.issubset(set2)

print("set contains another set as subset: ",subset)

set contains another set as subset:  True

In [204]:
# 49. Create a set of alternating 1s and 0s of length `n`.

def alternating(n):
    elements = set()
    for i in range(n):
        if i % 2 == 0:
            elements.add(1)
        else:
            elements.add(0)
    return elements

n = 10
result = alternating(n)
print("Set of alternating 1s and 0s of length n:", result)

Set of alternating 1s and 0s of length n: {0, 1}

In [205]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Multiple merged sets into one:", merged_set)

Multiple merged sets into one: {1, 2, 3, 4, 5, 6, 7}